{% extends 'DataRegister/index.html' %}
{%block content%}
<table class="table table">
    <thead class="borderless-bottom">
        <tr>
            <td>Name</td>
            <td>EmpCode</td>
            <td>Mobile</td>
            <td>Phone_No</td>
            <td>
                <a href="{%url 'FrontPage' %}" class="btn btn-block"><i class="fas fa-plus">GetNew</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {%for employee in employee_list %}
        <tr>
            <td>{{employee.Name}}</td>
            <td>{{employee.EmpCode}}</td>
            <td>{{employee.Mobiel_No}}</td>
            <td>{{employee.Position}}</td>
            <td>
                <a href="{% url 'Update' employee.id %}" class="btn btn-database">
                    <i class="fas fa-edit">Update</i>
                </a>
            </td>
            <td>
                <form action="{% url 'delete' employee.id %}" method="post" class="d-inline">
                    {%csrf_token%}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}